@use '@picocss/pico/scss/pico' with (
  // Define the root element used to target <header>, <main>, <footer>
  // with $enable-semantic-container and $enable-responsive-spacings
  $semantic-root-element: '#root',

  // Enable <header>, <main>, <footer> inside $semantic-root-element as containers
  $enable-semantic-container: true,

  // Enable .classes
  $enable-classes: true
);

:root {
  --pico-font-size: 90%;
  // --pico-spacing: 0.75rem;
  --pico-form-element-spacing-vertical: 0.5rem;
  --pico-form-element-spacing-horizontal: 0.75rem;
}

.flex {
  display: flex;
  flex-direction: column;
  gap: var(--pico-spacing);
}

.flex-1 {
  flex: 1;
}

.hstack {
  display: flex;
  place-items: center;
  gap: var(--pico-spacing);
}

@media (min-width: 576px) {
  .flex {
    flex-direction: row;
    place-items: center;
  }
}

@media (min-width: 1024px) {
  dialog article {
    max-width: 950px;
  }
}

@media (min-width: 1280px) {
  dialog article {
    max-width: 1200px;
  }
}

main {
  // padding: var(--pico-spacing) 0;
}

main > * {
  padding-top: var(--pico-spacing);
  padding-bottom: var(--pico-spacing);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0;
}

.daily-register-table {
  td {
    vertical-align: top;
  }
}

.print-only {
  display: none;
}

@media print {
  .daily-register-table {
    th,
    td {
      border: 1px solid var(--pico-table-border-color);
    }
  }

  .daily-register-table {
    td {
      height: 12rem;
    }
  }

  #register-print-button,
  #add-update-button {
    display: none;
  }

  .print-only {
    display: block;
  }

  .screen-only {
    display: none;
  }
}

.container-fixed {
  max-width: 512px;
}

.main-nav-header {
  top: 0;
  border-bottom-color: var(--pico-header-border-color);
  box-shadow: var(--pico-card-box-shadow);
  position: sticky;
  max-width: 100% !important;
  width: 100%;
  backdrop-filter: blur(1rem);
  background-color: var(--pico-header-background);
  transition:
    border-top-color 0.4s ease-in-out,
    box-shadow 0.4s ease-in-out;

  details.dropdown summary:not([role]) {
    background-color: transparent;
    border: none;
  }
}

#root > main {
  padding-top: calc(var(--pico-spacing) * 3);
}
